datasets==2.20.0
librosa==0.10.2.post1
matplotlib==3.9.1
numpy==1.26.4
pandas==2.2.2
pillow==10.4.0
pytorch-lightning==2.3.2
scikit-learn==1.5.1
scipy==1.14.0
timm==1.0.7
torch==2.3.1
transformers==4.42.3
wandb==0.17.4